body {
  width: 960px;
  margin: 0 auto;
}

#left-box{
  border-style:solid;
  border-width:1px;
  width:215px;
  height:350px; 
}

#content_1, #content_2, #content_3,  #content_4,  #content_5,  #content_6,  #content_7 {
  border-style:solid;
  border-width:1px;
  width:685px;
  height:350px;
  position:absolute;
  left:245px;
  top:69px;
  font-size:80%;
  padding-left:10px;      
}

#content_1, #content_2 {
  overflow-y: scroll;  
}

IMG.displayed {
  display: block;    
  margin-right: auto; 
}

#cr{
  float: right;
}

#dev_1{
  border-style:solid;
  border-width:1px;
}

.menu_div ul{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}

.menu_div ul li{
    background:#B5B5B5;    
    line-height:28px;
    border-bottom:1px solid #333;
}

.menu_div ul li a{
    text-decoration:none;
    color:#FFF;
    display:block;
}

.menu_div ul li a:hover{
	background:#c0c0c0;    
}

.menu_div ul li#active{
    background:#d40203;
}

#sitename{
  /* position:absolute;
  left:245px;
  top:69px;
  font-size:80%; */
}

#greenTick{
color:#009933;
}